---
import { Image } from "astro:assets";
import format from "date-fns/format/index.js";
const { event } = Astro.props;

// const coverImages = await import.meta.glob('/src/assets/cover/*.{jpg,png,webp}',{eager: true});

// let coverImage=coverImages['/src/assets/cover/image-not-found.png'].default;
// for (const path of Object.keys(coverImages)) {
//     const regex = /\/cover\/([^/]+)\./;
//     const match = path.match(regex);
//     if (match && match[1] == event?.slug) {
//         coverImage = coverImages[path].default
//     }
// }

import sampleCover from "/src/assets/sample.jpeg";

---

<a
    href=`/events/${event.slug}`
    class="cursor-pointer group col-span-12 sm:col-span-6 lg:col-span-4 rounded-lg flex flex-col justify-between overflow-hidden shadow  border-transparent border-2 transition duration-200">
    <div class="relative bg-gray-950">
        <Image 
            class="w-full h-56 object-cover group-hover:scale-110 transition duration-500"
            src={event.data.image}
            alt={event.data.title}
            width={400}
            height={300}
            />
        <!-- <span class="font-bold text-sm uppercase text-white bg-opacity-30 rounded-es-lg line-clamp-1 top-0 right-0 p-3 bg-black absolute">
            {format(event.data.date, 'dd MMM, yyyy')}
        </span> -->
        <div class="z-10 px-6 py-4 w-full h-full flex flex-col justify-start absolute top-0 bg-gradient-to-br from-[#000000a8] ">
            <span class="font-semibold text-sm text-white line-clamp-1">{format(event.data.date, 'dd MMM, yyyy')}</span>
            <span class="font-bold text-xl text-white ">{event.data.title}</span>
        </div>
        <!-- <div class="px-6 py-4 h-3/4 flex flex-col justify-end absolute bottom-0 bg-gradient-to-t from-[#000000dc]">
            <p class="text-gray-300 text-justify text-sm leading-5 line-clamp-3">
                {event.data.description}
            </p>
        </div> -->
    </div>
    <!-- <div class="flex flex-row justify-center items-center px-6 transition duration-200 ease-in-out translate-y-10 group-hover:-translate-y-0 w-full bg-blue-600 h-10">
        <span class="text-white font-bold text-center">
            {format(event.data.date, 'dd MMM, yyyy')}
        </span>
    </div> -->
</a> 