---
import "@fontsource-variable/outfit";
import "@fontsource/dm-sans";

import "../global.css";

import { Navbar } from "../components/navbar";
import Footer from "../components/footer";
import * as React from "react";

export interface Props {
  title: string;
  description: string;
  ogImage: string;
}

const { title, description, ogImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class={"scroll-smooth"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta
      name="description"
      content={description}
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rotaractgalgotias.org/" />
    <meta
      property="og:title"
      content={title}
    />
    <meta
      property="og:description"
      content={description}
    />
    <meta
      property="og:image"
      content={ogImage}
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://rotaractgalgotias.org/" />
    <meta
      property="twitter:title"
      content={title}
    />
    <meta
      property="twitter:description"
      content={description}
    />
    <meta
      property="twitter:image"
      content={ogImage}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
  </head>
  <body class={`bg-gray-100`}>
    <div class="w-full p-2 bg-gray-800 text-white md:text-center text-left flex flex-row items-center justify-center text-sm md:text-lg">
        Visit our detailed page for Details about Club
        <a href="/join" class="ml-2 bg-gray-700 hover:bg-gray-600 text-white px-2 py-1 rounded-md">
            Know&nbsp;More
        </a>
    </div>
    <div class={`px-5 md:px-auto`}>
      <Navbar client:only="react" />
      <slot />
      <Footer />
    </div>
  </body>
</html>
