---
import {getCollection} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import format from 'date-fns/format/index.js';
import EventGallery from "../../components/event-gallery";
import Gallery from "../../components/gallery.astro";
import { Image } from "astro:assets";
export async function getStaticPaths() {
  const events = await getCollection("events");
  return events.map((event) => {
    return {
      params: {
        slug: event.slug,
      },
      props: {
        event
      },
    };
  });
}

const {event} = Astro.props;
const dateObj = new Date(event.data.date);
const date = {
  day: format(dateObj, 'dd'),
  month: format(dateObj, 'LLL'),
  year: format(dateObj, 'yyyy'),
  dayOfWeek: format(dateObj, 'EEEE')
}
const {Content} = await event.render()

// const images = await Astro.glob(`/src/assets/events/*/*`).then(files => {
//     return files.filter(file => {
//         const regex = /\/events\/([^/]+)\//;
//         const match = file.default.match(regex);
//         if (match && match[1] === event?.slug)
//             return file.default;
//     }).map(file => {
//         return file.default;
//     });
// });

const images = await import.meta.glob('/src/assets/events/*/**.{jpg,png,webp,JPG}',{eager: true});
const photos = Object.keys(images).map( (path) => {
  const regex = /\/events\/([^/]+)\//;
  const match = path.match(regex);
  if (match && match[1] === event?.slug)
    return images[path].default;
}).filter(image => image !== undefined);
// console.log(photos);


const coverImages = await import.meta.glob('/src/assets/cover/**.{jpg,png,webp,JPG,jpeg}',{eager: true});

let coverImage=coverImages['/src/assets/cover/image-not-found.png'].default;
for (const path of Object.keys(coverImages)) {
  const regex = /\/cover\/([^/]+)\./;
  const match = path.match(regex);
  
  if (match && match[1] == event?.slug) {
    coverImage = coverImages[path]?.default
  }
}
---
<Layout
  title={`${event.data.title} - Rotaract Galgotias`}
  description={event.data.description}
  ogImage={coverImage.src}
>
    <div class="relative mb-14 max-w-4xl  mx-auto">
        <Image src={coverImage} alt={event.data.title} class="rounded-lg w-full"/>

        <div class="w-32 h-32 rounded-lg bg-white shadow-lg absolute right-10 overflow-hidden -bottom-10">
            <div class="relative w-full h-full flex-col flex justify-between">
                <div class="text-2xl font-bold w-full bg-red-600 flex flex-row items-center justify-center text-center text-white py-1">
                  {date.month.toUpperCase()}
                </div>
                <div class="text-5xl font-bold w-full bg-white flex flex-col items-center justify-center text-center text-black ">
                  {date.day}
                </div>
                <div class="text-lg font-bold w-full bg-white flex flex-col items-center justify-center text-center text-gray-400 ">
                  {date.dayOfWeek.toUpperCase()}
                </div>
            </div>
        </div>
    </div>
    <div class="prose lg:prose-lg lg:max-w-screen-lg prose-p:text-justify mx-auto">
        <Content/>

    </div>
    <!-- <EventGallery images={photos} event={event.slug} client:only="react"/> -->
    <Gallery images={photos} event={event.slug}/>
</Layout>
