---
import {getCollection} from "astro:content";
import Layout from "../../layouts/Layout.astro";
const events = await getCollection("events");
events.sort((a,b)=>(new Date(b.data.date))-(new Date(a.data.date)))
import format from 'date-fns/format/index.js';
---

<Layout>
    <main class="flex min-h-screen flex-col items-center gap-10 py-5 xl:px-24">
        <div class={"container grid grid-cols-12 gap-8"}>
            <div class={"col-span-full flex flex-col gap-4 justify-between"}>
                <h1
                        class={"font-outfit text-4xl font-extrabold text-slate-800 lg:text-6xl"}
                >
                    Our Events
                </h1>
                <p class={"font-dmSans text-sm text-slate-600 md:text-lg text-justify"}>
                    We organize a variety of fundraising activities, community service projects, and professional development workshops throughout the year. We also collaborate with other clubs and organizations to create meaningful projects that have a lasting impact on our community.
                </p>
            </div>
            {
              events
                .map((event)=>(
                <a href=`/events/${event.slug}`
                   class="cursor-pointer group col-span-12 lg:col-span-4 rounded flex flex-col justify-between overflow-hidden shadow-lg hover:border-blue-600 border-transparent border-2 transition duration-200">
                    <div>
                        <img class="w-full h-56 object-cover group-hover:scale-110 transition duration-500"
                             src={event.data.image} alt={event.data.title}>
                        <div class="px-6 py-4">
                            <div class="font-bold text-xl mb-2">{event.data.title}</div>
                            <div class="text-gray-700 text-justify"> {event.data.description} </div>
                        </div>
                    </div>
                    <div class="flex flex-row justify-center items-center px-6 transition duration-200 ease-in-out translate-y-10 group-hover:-translate-y-0 w-full bg-blue-600 h-10">
                              <span class="text-white font-bold text-center">
                                  {format(event.data.date, 'dd MMM, yyyy')}
                              </span>
                    </div>
                </a>
              ))
            }

            </div>
            <div class="w-full bg-white p-5 container shadow-lg">
                <div class="w-full flex flex-col justify-center items-center gap-2">
                    <h1 class="font-outfit text-2xl font-extrabold text-slate-800 lg:text-6xl">
                        View Past Tenure Events
                    </h1>
                    <p class="font-dmSans text-sm text-slate-600 md:text-lg text-justify">
                        We have been organizing events since 2010. Check out our available past tenure events.
                    </p>
                    <a target="_blank" href="https://2022-23.rotaractgalgotias.org/events" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        2022-23 Events
                    </a>
                </div>
            </div>
    </main>
</Layout>